html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header
{
  height:100px ;
  background-color: #D9D9D9;
  width: 100%;
  
  
  
}

.HeaderContainer
{
 padding: 30px;
 padding-top: 20px;
  margin: 0;
  display: flex;
  align-items: center;
 justify-content: space-between;
}

.list {
  display: flex;         /* make the list items appear in a row */
  flex-direction: row;   /* optional, default is row */
  gap: 2rem;             /* space between items */
  list-style: none; 
     /* remove bullet points */
  
}
.MangeBtn

{
  display: flex;
  
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Inter';
}