<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<div class="HomeContainer d-flex flex-column">
    <div>
        <div>
            <h1 class="CategoryTittle">Boarding House</h1>
        </div>

            <div class="d-flex mb-3 flex-row justify-content-around">

                <script>
                    
                </script>
                <div class="ParentContainer">
                    <div class="ImgContainer">

                    </div>
                   <div class="InfoContaine">
                        <div>
                            <p class="LocationInfo">Tabunan,Bogo City, Cebu</p>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="PriceInfo">
                                <p>₱ 3,000 Month for 3 person</p>
                            </div>
                            <div class="d-flex flex-row">
                                <img src="" alt="star"><p class="Rating">5.0</p>
                            </div>  
                        </div>
                   </div>
                </div>
            </div>
    </div>

        <div>
            </div>
                <h1>Apartment</h1>
            </div>

            <div class="d-flex mb-3 flex-row justify-content-around ">
                <div class="InfoContainer">Flex item</div>
                <div class="InfoContainer">Flex item</div>
                <div class="InfoContainer">Flex item</div>
                <div class="InfoContainer">Flex item</div>
            </div>
        </div>
   
</div>
